<!-- admin_login.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Admin login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>  
    <body>
  <h2 class="login-title">Admin Login</h2>
  <a href="{{ url_for('home') }}" class="btn-home">Home</a>
  <form method="POST" action="/admin_login">
    
      <label for="username"  class="login-label">Username:</label>
      <input type="text" class="login-input" id="username" name="username" required>
   
      <label for="password" class="login-label">Password:</label>
      <input type="password" class="login-input" id="password" name="password" required>
    
    <button type="submit"  class="login-button">Login as Admin</button>
  </form>
  <p class="login-error">{{ error }}</p>
</body>
</html>
