<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="login-title">Welcome, {{ admin['username'] }}!</h1>
    <ul class="list-container">
        <li><a href="{{ url_for('dosage_details') }}">Get Dosage Details</a></li>
        <li><a href="{{ url_for('add_vaccination_centre') }}">Add Vaccination Centre</a></li>
        <li><a href="{{ url_for('remove_vaccination_centre') }}">Remove Vaccination Centre</a></li>
    </ul>
    <a href="{{ url_for('home') }}" class="btn-home">Home</a>
</body>
</html>

