<!DOCTYPE html>
<html>
<head>
    <title>User Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="login-title">User Signup</h1>
    <form action="/user_signup" method="POST">
        <label for="signup-username" class="login-label">Username:</label>
        <input type="text" name="username" id="signup-username" class="login-input" required>
        <label for="signup-password" class="login-label">Password:</label>
        <input type="password" name="password" id="signup-password" class="login-input" required>
        <input type="submit" value="Signup" class="login-button">
    </form>
    <p class="signup-link">Already have an account? <a href="{{ url_for('user_login') }}">Login here</a></p>
</body>
</html>
